In [32]:
import pandas as pd 

data = { 'Date': pd.date_range(start = '2023.01.01', periods =5, freq = 'D'), 
    'AAPL': [150.75, 153.30, 149.50, 155.00, 157.25],
    'GOOGL': [2800.50, 2820.00, 2790.00, 2850.00, 2900.00],
    'MSFT': [299.00, 305.00, 300.00, 310.00, 315.00]}

df = pd.DataFrame(data)
print(df)

        Date    AAPL   GOOGL   MSFT
0 2023-01-01  150.75  2800.5  299.0
1 2023-01-02  153.30  2820.0  305.0
2 2023-01-03  149.50  2790.0  300.0
3 2023-01-04  155.00  2850.0  310.0
4 2023-01-05  157.25  2900.0  315.0

In [33]:
%pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [34]:
import pandas as pd 

data = { 'Date': pd.date_range(start = '2023.01.01', periods =5, freq = 'D'), 
    'AAPL': [150.75, 153.30, 149.50, 155.00, 157.25],
    'GOOGL': [2800.50, 2820.00, 2790.00, 2850.00, 2900.00],
    'MSFT': [299.00, 305.00, 300.00, 310.00, 315.00]}

df = pd.DataFrame(data)
print(df)

        Date    AAPL   GOOGL   MSFT
0 2023-01-01  150.75  2800.5  299.0
1 2023-01-02  153.30  2820.0  305.0
2 2023-01-03  149.50  2790.0  300.0
3 2023-01-04  155.00  2850.0  310.0
4 2023-01-05  157.25  2900.0  315.0

In [35]:
#print(df.info())
print(df.describe()) #summary statistics
print("Value at 2023.01.01:", (df.at[0, 'AAPL']))

                      Date        AAPL        GOOGL        MSFT
count                    5    5.000000     5.000000    5.000000
mean   2023-01-03 00:00:00  153.160000  2832.100000  305.800000
min    2023-01-01 00:00:00  149.500000  2790.000000  299.000000
25%    2023-01-02 00:00:00  150.750000  2800.500000  300.000000
50%    2023-01-03 00:00:00  153.300000  2820.000000  305.000000
75%    2023-01-04 00:00:00  155.000000  2850.000000  310.000000
max    2023-01-05 00:00:00  157.250000  2900.000000  315.000000
std                    NaN    3.135961    44.295034    6.760178
Value at 2023.01.01: 150.75

In [36]:

new_row = {'Date': '2023-01-06', 'AAPL': 160.00, 'GOOGL': 2950.00, 'MSFT': 320.00}
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
print(df)

                  Date    AAPL   GOOGL   MSFT
0  2023-01-01 00:00:00  150.75  2800.5  299.0
1  2023-01-02 00:00:00  153.30  2820.0  305.0
2  2023-01-03 00:00:00  149.50  2790.0  300.0
3  2023-01-04 00:00:00  155.00  2850.0  310.0
4  2023-01-05 00:00:00  157.25  2900.0  315.0
5           2023-01-06  160.00  2950.0  320.0

In [37]:
sorted_df = df.sort_values(by='AAPL')
print(sorted_df)

# Sorting by multiple columns
sorted_df = df.sort_values(by=['AAPL', 'GOOGL'])
print(sorted_df)

                  Date    AAPL   GOOGL   MSFT
2  2023-01-03 00:00:00  149.50  2790.0  300.0
0  2023-01-01 00:00:00  150.75  2800.5  299.0
1  2023-01-02 00:00:00  153.30  2820.0  305.0
3  2023-01-04 00:00:00  155.00  2850.0  310.0
4  2023-01-05 00:00:00  157.25  2900.0  315.0
5           2023-01-06  160.00  2950.0  320.0
                  Date    AAPL   GOOGL   MSFT
2  2023-01-03 00:00:00  149.50  2790.0  300.0
0  2023-01-01 00:00:00  150.75  2800.5  299.0
1  2023-01-02 00:00:00  153.30  2820.0  305.0
3  2023-01-04 00:00:00  155.00  2850.0  310.0
4  2023-01-05 00:00:00  157.25  2900.0  315.0
5           2023-01-06  160.00  2950.0  320.0

In [40]:
# Grouping and aggregating data
data = {
    'Date': pd.date_range(start='2023-01-01', periods=10, freq='D'),
    'Stock': ['AAPL', 'GOOGL', 'MSFT', 'AAPL', 'GOOGL', 'MSFT', 'AAPL', 'GOOGL', 'MSFT', 'AAPL'],
    'Price': [150.75, 2800.50, 299.00, 153.30, 2820.00, 305.00, 149.50, 2790.00, 300.00, 155.00]
}
df_group = pd.DataFrame(data)
print(df_group)

# Grouping by Stock and calculating mean price
grouped_df = df_group.groupby('Stock').mean()
print(grouped_df)

        Date  Stock    Price
0 2023-01-01   AAPL   150.75
1 2023-01-02  GOOGL  2800.50
2 2023-01-03   MSFT   299.00
3 2023-01-04   AAPL   153.30
4 2023-01-05  GOOGL  2820.00
5 2023-01-06   MSFT   305.00
6 2023-01-07   AAPL   149.50
7 2023-01-08  GOOGL  2790.00
8 2023-01-09   MSFT   300.00
9 2023-01-10   AAPL   155.00
                     Date        Price
Stock
AAPL  2023-01-05 12:00:00   152.137500
GOOGL 2023-01-05 00:00:00  2803.500000
MSFT  2023-01-06 00:00:00   301.333333